body {
  background: #17062a;
}
.calc {
  color: #ffe53d;
}
.numbers {
  color: #ffe53d;
}
.page-num {
  color: #ffe53d;
}
input[type="range"] {
  background: #1e0936;
}
input[type="range"]::-webkit-slider-thumb {
  background: #00ded0;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #93fff8;
}
.rectangel {
  background: #1e0936;
}
.num {
  color: #ffe53d;
}
section {
  background: #1e0936;
}
.del {
  background: #56077c;
  box-shadow: inset 0px -4px 0px #be15f4;
}
.del:hover {
  background: #8631af;
}
.btn {
  background: #331c4d;
  box-shadow: inset 0px -4px 0px #881c9e;
  color: #ffe53d;
}
.btn:hover {
  background: #6c34ac;
}
.btn-reset {
  background: #56077c;
  box-shadow: inset 0px -4px 0px #be15f4;
}
.btn-reset:hover {
  background: #8631af;
}
.btn-equal {
  background: #00ded0;
  box-shadow: inset 0px -4px 0px #6cf9f1;
  color: #1a2327;
}
.btn-equal:hover {
  background: #93fff8;
}
